<div style="background-image:url(<%= asset_path "cart_image.jpeg" %>)", class="back">
  <div class="container">
    <h1>カート内一覧</h1>
    <div class="row">
        <% @cart_items.each do |cart| %>
          <div class="col-xs-3">
            <%= link_to (cart_item_path(cart.id)) do %>
              <%= attachment_image_tag cart.cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200"%><br>
            <% end %>
            <%= cart.cd.name %>
          </div>
        <% end %>
        </div><div class="debottom">
      </div>
    </div>
  </div>
</div>
