// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  text-align: center;
}

.user-addresses{
  margin-top: 30px;
}

.address-text{
  border: solid thin;
  margin-bottom: 20px
  }

.user-text{
  border: solid thin;
}

.pay{
    border: solid thin;
    padding: 10px;
    text-align: center;
}

#cart_row{
  padding-bottom: 20px;
}

.order-uni{
  border: solid thin;
  padding: 20px;
  margin-bottom: 20px;
}

.shipping{
  border-bottom: solid thin;
  padding: 10px;
}

.order-detail{
 padding: 10px;
}
