// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-striped user-info-table {
	height: 700px;
	width: 200px;
	margin: 0 auto;
}


.user-menu{
  float: left;
  margin: 5px;
}
